.col-sm-4{
   display: inline-block;
}

/*.cell{
	border: 1px;
}
*/
.cell {
	border: 5px;
	border-style: solid;
    border-width: thin;
    height: 100px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
}
